<div class="Container">
   <!-- NAVIGATION BAR -->
    <div id="Header"> 
        <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                  <a class="nav-link" href="#"><strong>First Digital Technology </strong></a>
                </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </div>
    <!-- SIDE BAR AND BODY -->
  <div class="row">
    <!-- SIDE BAR -->
    <div class="col-md-auto col-xs-auto col-sm-auto col-lg-auto" id="SideBar">
      <h5>Which technologies you like </h5>
        <label class="container">Javascript
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>
          </label>
          <label class="container">Angular 2+
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="container">Bootstrap
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
          <label class="container">C#
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="container">HTML
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="container">CSS
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            

            <h5>Rate your skill  </h5>
          <label class="container">Good
              <input type="radio" checked="checked">
              <span class="checkmark"></span>
            </label>
            <label class="container">Bad 
              <input type="radio">
              <span class="checkmark"></span>
            </label>
            <label class="container">Very Bad
              <input type="radio">
              <span class="checkmark"></span>
            </label>
            <label class="container"> No Clue
              <input type="radio">
              <span class="checkmark"></span>
            </label>
    </div>
    <!-- MAIN BODY -->
    <div class="col" id="MainBody">
      <table>
        <tr>
          <td><button class="button" (click)="myEvent($event)" >Get Current Date and Time </button></td>
          <td><p><strong>{{msg}}</strong></p> </td>
          <!-- <td><p><strong>{{msg | date:"MM/dd/yy hh:mm:ss"}}</strong></p> </td> -->
        </tr>
      </table>
    </div>
</div>
</div>